<!doctype html>
<html>


<head>
  <title>Techlent</title>
  <meta name="description" content="" charset="utf-8" />
  <meta name="referrer" content="no-referrer">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap">
</head>

<body>
  <div id="root"></div>
</body>

</html>